<div class="grid grid-rows-12 gap-2 h-full">
  <div
    [class.justify-between!]="historyHasItems()"
    class="row-span-1 text-white justify-end flex p-3"
  >
    @if (historyHasItems()) {
      <a routerLink="history">History</a>
    }
    <app-period-budget-statistics />
  </div>

  <div class="row-span-2">
    <app-today-balance />
  </div>

  <div class="row-span-2">
    <app-new-daily-budget />
  </div>

  <div class="row-span-1">
    <app-withdrawal-amount [amount]="withdrawalAmount()" />
  </div>

  <div class="row-span-6">
    <app-keyboard (keyClicked)="onKeyClick($event)" />
  </div>
</div>
